html, body, header {
    font-family: "Avenir";
    font-size: medium;
    right: 0;
    left: 0;
    top: 0;
    bottom: 0;
    width: 100%;
    margin-left: 0;
    margin-right: 0;
}

section {
    margin-left: 1%;
    margin-right: 1%;
    text-align: justify;
}

div {
    margin-left: 1%;
    margin-right: 1%;
}

.nav-links {
    padding: 0;
}

li {
    display: inline;
}

.navbar {
    display: inline-flex;
    align-items: left;
    top: 0;
    width: 100%;
    padding: 20px;
    background-color: rgb(120, 173, 234);
    z-index: 1000;
}

.top-bar {
    display: inline-flex;
    align-items: left;
    top: 0;
    width: 100%;
    padding: 0;
    background-color: rgb(120, 173, 234);
    margin-top: auto;
    margin-bottom: auto;
    float: left;
}

.sticky {
    position: fixed;
    top: 0;
    width: 100%;
    padding: 10px;
  }
  
/* Add some top padding to the page content to prevent sudden quick movement (as the navigation bar gets a new position at the top of the page (position:fixed and top:0) */
.sticky + .section {
    padding-top: 20px;
}

.sticky + .banner {
    padding-top: 80px;
}

.item {
    font-family: "Avenir";
    color: rgb(255, 255, 244);
    padding: 5px;
    font-size: large;
    margin-top: auto;
    margin-bottom: auto;
    text-align: center;
}

.item-bold {
    font-family: "Avenir";
    color: rgb(255, 255, 244);
    padding: 5px;
    font-size: large;
}

.item-credit:hover {
    color:rgb(255, 255, 244);
    font-size: large;
}

a:link {
    color:rgb(255, 255, 244);
    background-color: transparent;
}

a {
    color: rgb(255, 255, 244);
    text-decoration: none;
}

a:hover {
    color: rgb(186, 223, 251);
    text-decoration: none;
    font-size: 20px;
}

a:active {
    color: rgb(186, 223, 251);
    text-decoration: none;
}

/* Adding logo image specifications to fit nav top bar nicely */
.logo img {
    width: 170px;
    height: auto;
    padding-right: 0px;
}

#banner {
    display: inline-block;
    position: relative;
    background-image: url(../resources/crowd-singapore.jpeg);
    background-size: 100%;
    background-position: center center;
    background-repeat: no-repeat;
    padding: 40px;
    width: 100%;
}

#banner .banner-title {
    font-family: "Avenir";
    text-align: center;
    position: relative;
    padding: 0;
    font-size: 50px;
    color: white;
}

.chart {
    height:700px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.category {
    display: flex;
    justify-content: center;
    align-items: center;
}

.button {
    display: inline;
    border-radius: 35px;
    background-color: rgba(120, 173, 234, 60);
    padding: 15px;
    border-color: white;
    box-shadow: 5px black;
    font-size: medium;
    font-weight: bold;
    color: white;
}

.image {
    height:700px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#popMap {
    height: 500px;
    width: 800px;
    margin: auto;
}

.wrapper {
    max-width: 800px;
    margin: 50px auto;
  }
